<div class="state-container">
    
    <iframe class="video"
    src="https://www.youtube.com/embed/KLIqErnQCuw" 
    frameborder="0" 
    allowfullscreen></iframe>

    <p class="video-description">
        Minions ipsum hana dul sae butt bee do bee do bee do la 
        bodaaa para tú uuuhhh chasy poulet tikka masala me want ba
        nanaaa! Belloo! Underweaaar tatata bala tu hahaha la bodaaa 
        butt po kass hahaha potatoooo tulaliloo. Baboiii hana dul sae 
        tank yuuu! Po kass uuuhhh poopayee hahaha para tú. Hahaha jiji po 
        kass hahaha jeje. Poopayee belloo! La bodaaa tulaliloo butt aaaaaah 
        aaaaaah po kass jiji belloo! Bappleees.
    </p>

    <p class="video-description">
        Tatata bala tu poopayee hahaha butt tulaliloo uuuhhh potatoooo daa. 
        Baboiii underweaaar chasy poopayee aaaaaah poulet tikka masala potatoooo
        tank yuuu! Po kass poulet tikka masala tulaliloo jeje. Jeje jeje daa wiiiii 
        me want bananaaa! Bappleees bappleees bee do bee do bee do. La bodaaa pepete 
        poulet tikka masala tatata bala tu daa. Poopayee poulet tikka masala poulet 
        tikka masala potatoooo.
    </p> 


</div>