<div class="state-container">
    <div class="mainview-container">
        <h1 class="title"> Introduce tu usuario y contraseña </h1>
        <div class="form-container"> 
            <div class="form">
                    <p>
                        <input 
                        class="input-box"
                        type="text" 
                        id="username" 
                        ng-model="viewLogin.playerUsername"
                        > 
                        <label for="username">
                            Usuario
                        </label>
                    </p>
                    <p>
                        <input 
                        class="input-box"
                        type="text" 
                        id="password" 
                        ng-model="viewLogin.playerPassword"
                        >

                        <label for="password">
                            Contraseña
                        </label>
                    </p>
                    </p>
                        <button class="button" ng-click="viewLogin.goToPlay()"> Jugar 
                    </p>
            </div>
                
        </div>
    <a> He olvidado mi contraseña </a>
    </div>
</div>