<div class="state-container">
    <div class="mainview-container">
        <div class="title"> 
            ¡Bienvenido! 
        </div>
        <div class="intro-text">
                Pon a prueba tu memoria con este apasionante juego.
                Destapa dos cartas y recuerda dónde está cada una. 
                Cuando encuentres dos cartas idénticas, quedarán visibles 
                y la partida acabará cuando todas las cartas queden visibles.
                Trata de acabar la partida en el menor tiempo posible.
            
                <p> ¿Estás preparado? </p>
        </div>
        <div>
                <button class="button" ng-click="viewMain.goToSignup()">
                        SIGUIENTE >>
                </button>
        </div>
            <img class="animation" src="app/styles/imgs/animation.gif" > 
        </div>
        <div>
                <a ng-click="viewMain.goToLogin()" class="intro-text link"> Ya estoy registrado </a>
        </div>
    </div>
</div>