<div class="state-container">
    <div class="form-container">
        <div class="form">
            <h1 class="form-title"> Tengo una cuenta 
            </h1>
                <p>
                    <input 
                    type="text" 
                    id="username" 
                    ng-model="viewMain.playerUsername"
                    > 
                <!--ng-class="{ 'has-error': !viewMain.playerUsername && viewMain.formIsSend }"-->
                    <label for="username">
                        Usuario
                    </label>
                </p>
                <p>
                    <input 
                    type="text" 
                    id="password" 
                    ng-model="viewMain.playerPassword"
                    >
                    <!--ng-class="{ 'has-error': viewMain.playerPassword && viewMain.formIsSend }"-->
                    <label for="password">
                        Contraseña
                    </label>
                </p>
                </p>
                    <button class="login-button" ng-click="viewMain.goToPlay()"> Jugar 
                </p>
        </div>
    </div>

    <div>
        <button class="signup-button" ng-click="viewMain.goToSignup()"> Nuevo jugador 
    </div>
</div>