<div class="state-container">
    <div class="mainview-container"> 
        <div class="intro-text">
        Para que tus tiempos queden registrados, introduce un nombre de usuario y una contraseña y selecciona un avatar
        </div>
        <div class="form-container">
            <div class="form">
                <p>
                    <label for="username" class="form-label">
                        Usuario
                    </label>
                    <input 
                    class="input-box"
                    type="text" 
                    id="username" 
                    ng-model="viewSignup.playerUsername"
                    >
                </p>
                <p>
                    <label for="password" class="form-label">
                        Contraseña
                    </label>
                    <input 
                    class="input-box"
                    type="text" 
                    id="password" 
                    ng-model="viewSignup.playerPassword"
                    >
                    
                </p>
                <p class="avatar-selector" >
                    <p class="form-label">
                    Selecciona tu avatar
                    </p>
                    <label class="player-avatar" for="avatar">
                        <input
                        type="radio"
                        id="avatar" 
                        ng-model="viewSignup.playerAvatar"
                        value="app/styles/imgs/aliciaAvatar.jpg"> 
                        <img class="avatar-img" src="app/styles/imgs/aliciaAvatar.jpg">
                    </label>
                    
                    <label class="player-avatar" for="playerAvatar">
                        <input
                        type="radio"
                        id="avatar" 
                        ng-model="viewSignup.playerAvatar"
                        value="app/styles/imgs/conejoAvatar.jpg">
                        <img  class="avatar-img" src="app/styles/imgs/conejoAvatar.jpg">
                    </label>

                    <label class="player-avatar" for="playerAvatar">
                        <input
                        type="radio"
                        id="avatar" 
                        ng-model="viewSignup.playerAvatar"
                        value="app/styles/imgs/gatoAvatar.jpg">
                        <img class="avatar-img" src="app/styles/imgs/gatoAvatar.jpg">
                    </label>
                </p> 
                 
            </div>
            <button class="button" ng-click="viewSignup.signupPlayer()">
                        ¡A jugar!
            </button>
        </div>
        
        
            <p>
                <a ng-click="viewSignup.goToLogin()"> Ya estoy registrado </a>
            </p>
            <p>
                <a ng-click="viewSignup.goToPlay()"> Omitir </a>
            <p>
        
</div>