<div class="state-container">
    <h1> Por favor, introduce tus datos para jugar </h1>
    <div class="form-container">
        <div class="form">
            <div class="msg-error" 
            ng-show="viewSignup.showMsg">RELLENA LOS CAMPOS!!!!</div>
            <p>
                <input 
                type="text" 
                id="username" 
                ng-model="viewSignup.playerUsername"
                >
                <label for="playerUsername">
                    Usuario
                </label>
            </p>
            <p>
                <input 
                type="text" 
                id="password" 
                ng-model="viewSignup.playerPassword"
                >
                <label for="password">
                    Contraseña
                </label>
            </p>
            <p class="avatar-selector">
                <input
                type="radio"
                id="avatar" 
                ng-model="viewSignup.playerAvatar"
                value="app/styles/imgs/anim/cats.jpg"> 

                <label for="playerAvatar">
                    <img class="avatar-img" src="app/styles/imgs/anim/cats.jpg">
                </label>
                

                <input
                type="radio"
                id="avatar" 
                ng-model="viewSignup.playerAvatar"
                value="app/styles/imgs/anim/camaleones.jpg">
                <label for="playerAvatar">
                    <img class="avatar-img" src="app/styles/imgs/anim/camaleones.jpg">
                </label>
           
            </p> 
            <p>
                <button class="login-button" ng-click="viewSignup.signupPlayer()">
                    Enviar y jugar
                </button>
            </p>
        </div>
    </div>
</div>